
<div class="jumbotron">
  <h1 class="display-4">BURGER TOWN, BABY!</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>NOT TO BE CONFUSED WITH FLAVOR TOWN... NO BLEACHED TIPS HERE</p>
  
</div>
<div class="container burgerform">
<form class="create-form">

  <div class="form-group">
    <label for="auth">What Burger Do You Fancy?</label>
    <input type="text" class="form-control" id="auth" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured"></label>
    <input type="radio" name="devoured" value="1" checked>Devoured!<br>
    <input type="radio" name="devoured" value="0"> EAT ME!
  </div>

  <button type="submit" class="btn btn-primary">Create Burger!</button>
</form>
</div>
  <div class="container burgertown">
  <h1>Burger Town!</h1>
  <br>
  <br>
  <br>
  </div>
<div class="container">
<div class="row">
  <div class="col-md-6">
  <div class="not-eaten">
    <h2>Burgers To Crush!</h2>

      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{>burger-block devoured=true}}
          {{/unless}}
        {{/each}}
      </ul>
</div>
</div>
<div class="col-md-6">
<div class="eaten">
  <h2>Crushed Burgers!</h2>

  <ul>
    {{#each burgers}}
      {{#if devoured}}
        {{>burger-block devoured=false}}
      {{/if}}
    {{/each}}
  </ul>
  </div>
</div>
</div>
</div>


<script>

$(function() {
  $(".change-devour").on("click", function(event) {
    var id = $(this).data("id");
    var newDevour = $(this).data("newdevour");

    var newDevourState = {
      devoured: newDevour
    };

    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: newDevourState
    }).then(
      function() {
        console.log("changed devour to", newDevour);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".create-form").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newBurger = {
      burger_name: $("#auth").val().trim(),
      devoured: $("[name=devoured]:checked").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".delete-burger").on("click", function(event) {
    var id = $(this).data("id");

    // Send the DELETE request.
    $.ajax("/api/burgers/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted burger", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
});
</script>